__pycache__/
Neuroevolution/.vs/
Neuroevolution/out/
Neuroevolution/CMakeUserPresets.json
.vs/
Neuroevolution/build/
Tensorflow/venv/
*.keras
!Tensorflow/Official Models/*.keras
Tensorflow/PythonSettings.json