__pycache__/
Neuroevolution/.vs/
Neuroevolution/out/
Neuroevolution/CMakeUserPresets.json
.vs/
Neuroevolution/build/
Tensorflow/venv/
!Tensorflow/Official Models/*.keras
!Tensorflow/Official Models/Effective Model 5 Set/*.keras
!Tensorflow/Official Models/Effective Model 6 Set/*.keras
Tensorflow/PythonSettings.json